<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

    <div class="input-with-icon right-align selfcomplete">
        <i class="icon icon-binoculars"></i>
        <input
            type="text"
            id="<?= $this->getId('input') ?>"
            name="<?= $name ?>"
            value="<?= $value ?>"
            class="form-control"
            selfcomplete="off"

            data-control="selfcomplete"
            data-maxItems="<?= $maxItems ?>"
            data-available-values='<?= e(json_encode($this->getList())) ?>'
            data-selfcomplete
         />
    </div>
<?php endif ?>
